In [3]:
import csv

with open('../data/addresses.csv') as csvfile:
    reader = csv.reader(csvfile, skipinitialspace=True)
    for row in reader:
        print(row)

['John', 'Doe', '120 jefferson st.', 'Riverside', 'NJ', '08075']
['Jack', 'McGinnis', '220 hobo Av.', 'Phila', 'PA', '09119']
['John "Da Man"', 'Repici', '120 Jefferson St.', 'Riverside', 'NJ', '08075']
['Stephen', 'Tyler', '7452 Terrace "At the Plaza" road', 'SomeTown', 'SD', '91234']
['', 'Blankman', '', 'SomeTown', 'SD', '00298']
['Joan "the bone", Anne', 'Jet', '9th, at Terrace plc', 'Desert City', 'CO', '00123']

In [9]:
import pandas as pd

pd.read_csv('../data/addresses.csv', header=None)

,0,1,2,3,4,5
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [7]:
import csv

with open('../data/biostats.csv') as csvfile:
    reader = csv.DictReader(csvfile, skipinitialspace=True)
    for row in reader:
        print(row)

{'Name': 'Alex', 'Sex': 'M', 'Age': '41', 'Height (in)': '74', 'Weight (lbs)': '170'}
{'Name': 'Bert', 'Sex': 'M', 'Age': '42', 'Height (in)': '68', 'Weight (lbs)': '166'}
{'Name': 'Carl', 'Sex': 'M', 'Age': '32', 'Height (in)': '70', 'Weight (lbs)': '155'}
{'Name': 'Dave', 'Sex': 'M', 'Age': '39', 'Height (in)': '72', 'Weight (lbs)': '167'}
{'Name': 'Elly', 'Sex': 'F', 'Age': '30', 'Height (in)': '66', 'Weight (lbs)': '124'}
{'Name': 'Fran', 'Sex': 'F', 'Age': '33', 'Height (in)': '66', 'Weight (lbs)': '115'}
{'Name': 'Gwen', 'Sex': 'F', 'Age': '26', 'Height (in)': '64', 'Weight (lbs)': '121'}
{'Name': 'Hank', 'Sex': 'M', 'Age': '30', 'Height (in)': '71', 'Weight (lbs)': '158'}
{'Name': 'Ivan', 'Sex': 'M', 'Age': '53', 'Height (in)': '72', 'Weight (lbs)': '175'}
{'Name': 'Jake', 'Sex': 'M', 'Age': '32', 'Height (in)': '69', 'Weight (lbs)': '143'}
{'Name': 'Kate', 'Sex': 'F', 'Age': '47', 'Height (in)': '69', 'Weight (lbs)': '139'}
{'Name': 'Luke', 'Sex': 'M', 'Age': '34', 'Height (in)': '72', 'Weight (lbs)': '163'}
{'Name': 'Myra', 'Sex': 'F', 'Age': '23', 'Height (in)': '62', 'Weight (lbs)': '98'}
{'Name': 'Neil', 'Sex': 'M', 'Age': '36', 'Height (in)': '75', 'Weight (lbs)': '160'}
{'Name': 'Omar', 'Sex': 'M', 'Age': '38', 'Height (in)': '70', 'Weight (lbs)': '145'}
{'Name': 'Page', 'Sex': 'F', 'Age': '31', 'Height (in)': '67', 'Weight (lbs)': '135'}
{'Name': 'Quin', 'Sex': 'M', 'Age': '29', 'Height (in)': '71', 'Weight (lbs)': '176'}
{'Name': 'Ruth', 'Sex': 'F', 'Age': '28', 'Height (in)': '65', 'Weight (lbs)': '131'}

In [13]:
import pandas as pd

pd.read_csv('../data/biostats.csv')

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

In [20]:
import requests

url = 'https://api.github.com/search/repositories?q=created:">2018-09-30"language:python&sort=stars&order=desc'
response = requests.get(url).json()

print(response)

{'login': 'ssaunier', 'id': 414418, 'node_id': 'MDQ6VXNlcjQxNDQxOA==', 'avatar_url': 'https://avatars.githubusercontent.com/u/414418?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/ssaunier', 'html_url': 'https://github.com/ssaunier', 'followers_url': 'https://api.github.com/users/ssaunier/followers', 'following_url': 'https://api.github.com/users/ssaunier/following{/other_user}', 'gists_url': 'https://api.github.com/users/ssaunier/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/ssaunier/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/ssaunier/subscriptions', 'organizations_url': 'https://api.github.com/users/ssaunier/orgs', 'repos_url': 'https://api.github.com/users/ssaunier/repos', 'events_url': 'https://api.github.com/users/ssaunier/events{/privacy}', 'received_events_url': 'https://api.github.com/users/ssaunier/received_events', 'type': 'User', 'site_admin': False, 'name': 'Sébastien Saunier', 'company': 'CTO & Co-Founder @lewagon', 'blog': 'https://www.lewagon.com', 'location': 'France', 'email': None, 'hireable': None, 'bio': 'Teaching code to creative people.', 'twitter_username': None, 'public_repos': 145, 'public_gists': 67, 'followers': 1978, 'following': 203, 'created_at': '2010-09-24T13:31:21Z', 'updated_at': '2022-05-29T16:13:53Z'}

In [24]:
url = 'https://api.github.com/search/repositories'

params = {
    'created': ">2018-09-30",
    'language' : 'python',
    'sort' : 'stars',
    'order' : 'desc'
}


response = requests.get(url, params=params).json()

response

{'message': 'Validation Failed',
 'errors': [{'resource': 'Search', 'field': 'q', 'code': 'missing'}],
 'documentation_url': 'https://docs.github.com/v3/search'}

In [21]:
import requests

url = 'https://api.github.com/users/ssaunier'
response = requests.get(url).json()

print(response)

{'login': 'ssaunier', 'id': 414418, 'node_id': 'MDQ6VXNlcjQxNDQxOA==', 'avatar_url': 'https://avatars.githubusercontent.com/u/414418?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/ssaunier', 'html_url': 'https://github.com/ssaunier', 'followers_url': 'https://api.github.com/users/ssaunier/followers', 'following_url': 'https://api.github.com/users/ssaunier/following{/other_user}', 'gists_url': 'https://api.github.com/users/ssaunier/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/ssaunier/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/ssaunier/subscriptions', 'organizations_url': 'https://api.github.com/users/ssaunier/orgs', 'repos_url': 'https://api.github.com/users/ssaunier/repos', 'events_url': 'https://api.github.com/users/ssaunier/events{/privacy}', 'received_events_url': 'https://api.github.com/users/ssaunier/received_events', 'type': 'User', 'site_admin': False, 'name': 'Sébastien Saunier', 'company': 'CTO & Co-Founder @lewagon', 'blog': 'https://www.lewagon.com', 'location': 'France', 'email': None, 'hireable': None, 'bio': 'Teaching code to creative people.', 'twitter_username': None, 'public_repos': 145, 'public_gists': 67, 'followers': 1978, 'following': 203, 'created_at': '2010-09-24T13:31:21Z', 'updated_at': '2022-06-03T14:09:00Z'}

In [44]:
import requests

base_url = 'https://uselessfacts.jsph.pl/'

endpoint = 'random.json'

full_url = base_url + endpoint

params = {
    'language' : 'en'
}

response = requests.get(full_url, params=params).json()

response['text']

'All polar bears are left-handed.'

In [27]:
response

{'id': 'ca37efc4-6305-4e86-aaa8-9c3f74b9660e',
 'text': 'More people are killed annually by donkeys than airplane crashes.',
 'source': 'djtech.net',
 'source_url': 'http://www.djtech.net/humor/useless_facts.htm',
 'language': 'en',
 'permalink': 'https://uselessfacts.jsph.pl/ca37efc4-6305-4e86-aaa8-9c3f74b9660e'}

In [37]:
import requests

response = requests.get('https://uselessfacts.jsph.pl/random.json?language=en').json()

response['text']

'The average person spends 12 weeks a year `looking for things`.'

In [38]:
'https://uselessfacts.jsph.pl/random.json?language=en'

'https://uselessfacts.jsph.pl/random.json?language=en'

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [13]:
display(HTML('<ul>Unordered list: <li> item 1 </li><li> item 2 </li><ul>'))
display(HTML('<ol>Ordered list: <li> item 1 </li><li> item 2 </li><ol>'))

In [17]:
display(HTML('<div><p> This is a paragraph</p><p> This is another paragraph </p></div>'))

In [12]:
from IPython.core.display import display, HTML
display(HTML('<h1> This is a header </h1>'))
display(HTML('<h2> This is a smaller header </h2>'))
display(HTML('<p> This is a paragraph </p>'))
display(HTML("<p> Here it's in <strong> bold </strong> </p>"))
display(HTML("<p> Here it's in <i> italic </i> </p>"))

In [6]:
from IPython.core.display import display, HTML
display(HTML('<a  href = “https://www.lewagon.com/”> \
This is a link to Le Wagon </closing tag>'))

In [29]:
import requests

from bs4 import BeautifulSoup


url = 'https://www.lewagon.com'

response = requests.get(url)

html = response.content

soup = BeautifulSoup(html)

type(soup)

bs4.BeautifulSoup

In [32]:
soup.title.text

'Coding Bootcamp | Le Wagon'

In [49]:
soup.body.header.div.h1.i.text

'code'

In [50]:
soup.find('i', class_='highlighted').text

'code'

In [51]:
import requests

from bs4 import BeautifulSoup


url = 'https://www.lewagon.com/campuses'

response = requests.get(url)

html = response.content

soup = BeautifulSoup(html)

type(soup)

bs4.BeautifulSoup

In [60]:
for city in soup.find_all('div', class_='city-card-details'):
    print(city.h3.text)

Amsterdam
Bali
Barcelona
Berlin
Bordeaux
Brussels
Buenos Aires
Cape Town
Casablanca
Cologne
Lausanne
Lille
Lima
Lisbon
London
Lyon
Madrid
Marseille
Mauritius
Melbourne
Mexico
Milan
Montreal
Munich
Nantes
Nice
Online
Paris
Playa del Carmen
Porto
Rennes
Rio de Janeiro
Santiago
Shanghai
Singapore
São Paulo
Tokyo
Zurich